ul.menu
    li.maenu__item
        a(href="index.html") Главная
    li.maenu__item
        a(href="about.html") Обо мне
    li.maenu__item
        a(href="my-works.html") Мои работы
    li.maenu__item
        a(href="blog.html") Блог