body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;

  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.form-box {
  text-align: center;
}

.form-box form {
  max-width: 300px;
  margin: 0 auto;
}

.form__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.form__item label {
  padding-bottom: 10px;
}

.form__item input {
  padding: 10px;

  border: none;
  border-bottom: 2px solid #e3e3e3;
}

.form__text,
.form__text a {
  font-size: 12px;
  color: grey;
}

.form__text a:hover {
  color: blue;
}

.btn {
  display: inline-block;
  width: 100px;
  margin: 0 auto 20px auto;
  padding: 10px 20px;

  font-size: 14px;
  color: #ffffff;
  text-decoration: none;

  background-color: #040464;
  border: none;
  border-radius: 5px;
}

.btn-more {
  width: auto;

  text-align: center;
}

.form__button {
  display: flex;
}

.form__button .btn + .btn {
  margin-left: 20px;
}

.btn:hover,
.btn:focus {
  background-color: rgba(4, 4, 100, 0.7);
}

.btn:active {
  background-color: rgb(78, 173, 0);
}

.home-link {
  display: block;

  text-align: center;
}

.alert {
  margin-bottom: 20px;
  padding: 10px;

  text-align: center;

  border-radius: 5px;
}

.alert-success {
  background-color: rgba(108, 189, 43, 0.5);
}

.alert-danger {
  background-color: rgba(189, 43, 43, 0.5);
}

.welcome {
  text-align: center;
}

.img {
  display: block;
  width: 400px;
  margin: auto;

  border-radius: 30%;

  object-fit: cover;
}
