body {
  font-family: "Share Tech Mono", monospace;
}

.game-card {
  height: 100vh;

  font-family: "Open Sans", monospace;
}

h1 {
  width: 500px;
  margin-left: 30px;

  text-align: center;
}

.timer-output {
  width: 200px;
  padding: 16px 8px;

  font-size: 64px;
  line-height: 1;
  text-align: center;
  color: darkred;

  background: #222222;

  user-select: none;
}

.timer-output-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: calc(100% - 24px);
  margin: 12px;
}

.status-field {
  margin-top: 20px;
}

.btn {
  margin: auto;

  font-weight: 600;
  color: #ffffff;

  background: #54ba4e;
  border: 1px solid #54ba4e;
}

.btn:hover {
  color: #ffffff;

  background: #49ac43;
  border: 1px solid #49ac43;
}

.myaccordion {
  width: 100%;

  color: #004987;
}

.myaccordion .card {
  border: none;
}

.card + .card {
  border-top: 1px solid #edeff0;
}

.col-6 {
  margin: auto;
}

.myaccordion .card-header {
  background: transparent;
  border: none;
}

.myaccordion .btn {
  width: 100%;
  padding: 5px;

  font-weight: bold;
  color: #004987;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;

  box-shadow: none;
}

.btn-group {
  display: flex;
  align-items: center;
}

.btn-answer {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px 32px;

  font-size: 16px;
  text-align: center;
  color: white;
  text-decoration: none;

  background-color: #4caf50; /* Green */
  border: none;
}

.btn-answer:hover {
  color: white;

  background-color: #004987;
}

.btn-group .fa {
  font-size: 20px;
}

.card-footer .btn {
  color: white;

  background-color: #004987;
}

.card-footer {
  background-color: white;
}

.game-card__close {
  display: none;
}

.game-card__open {
  display: block;
}

.game__checkbox {
  display: flex;
  justify-content: space-around;
}

.game__checkbox input {
  margin-right: 10px;
}

.game__checkbox label {
  min-width: 177px;
}

.red {
  font-weight: bold;
  color: red;
}

.rulles h1,
.rulles h2 {
  width: auto;

  text-align: center;
}

.rulles {
  max-width: 80%;
  margin: auto;
}
