.comments-link {
  display: block;
  /* width: 200px; */
  margin: auto;
}

.img-container {
  position: relative;
}

.img-delete {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 10;

  width: 30px;
  height: 30px;
  padding: 0;

  font-size: 20px;
}

.container {
  padding-bottom: 50px;
}

.container h2 {
  text-align: center;
}

@media (min-width: 576px) {
  .img-container.col-sm-3 {
    max-width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 232px;
  margin: auto;
}

.form input {
  margin-bottom: 10px;
  padding: 10px;
}

.btn-other {
  max-width: 150px;
  margin: 20px auto;
  padding: 0;

  list-style: none;
}

.btn-other a {
  display: block;
  margin-bottom: 20px;
}

.custom-file {
  margin-bottom: 30px;
}

.title {
  padding: 30px;
}

.center {
  padding-bottom: 20px;

  text-align: center;
}
