.comments-link {
  display: block;
  /* width: 200px; */
  margin: auto;
}

.img-container {
  position: relative;
}

.img-delete {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 10;

  width: 30px;
  height: 30px;
  padding: 0;

  font-size: 20px;
}

.container {
  padding-bottom: 50px;
}

@media (min-width: 576px) {
  .img-container.col-sm-3 {
    max-width: 100%;
  }
}

.form-box form {
  max-width: 300px;
}

.form__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.form__item input {
  border: none;
  border-bottom: 2px solid #e3e3e3;
}

.welcom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

  font-weight: 700;
  color: #007bff;
}

.welcome h2 {
  margin-bottom: 0;
}
