<form class="align-self-center" id="myAccontrForm">
    <div class="mb-3">
      <label for="accountEmail" class="form-label">E-mail:</label>
      <input type="email" class="form-control" id="accountEmail" name="email">
    </div>
    <div class="mb-3">
      <label for="accountPhone" class="form-label">Phone:</label>
      <input type="tel" class="form-control" id="accountPhone" name="phone">
    </div>
    <button type="submit" class="btn btn-dark shadow-none mb-3">Save</button>
    <div id="myAccountAlert"></div>
</form>