<div class="board__list-item">
  <button class="board__list-close" type="button" id="btn%id%" %delete%></button>
  <div class="board__list-content">
    <p class="board__list-user"><b><ins>Username</ins>: </b> %user%</p>
    <p class="board__list-text"><b><ins>Title</ins>: </b> %title%</p>
    <p class="board__list-text"><b><ins>Task</ins>: </b> %body%</p>
  </div>
  <div class="board__list-contacts">
    <p><b><ins>Contacts:</ins></b></p>
    <p><b>Email:</b> %email%</p>
    <p><b>Phone:</b> %phone%</p>
  </div>
</div>