<div class="user-menu d-flex me-4 align-items-center">

  <div class="avatar text-center">
    <img src="%avatar%" class="rounded-circle" alt="User" width="40" />
  </div>

  <div class="dropdown dropstart">
    <button class="btn shadow-none dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li id="myAccount"><a class="dropdown-item" href="#">My account</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li id="logOut"><a class="dropdown-item" href="#">Log out</a></li>
    </ul>
  </div>

</div>