extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    h1 Регистрация
    form.form
        label(for="email") Email
        input(name="email" id="email")
        label(for="password") Password
        input(name="password" id="password")
        button(type="submit") Войти